<h2><%= @user.username %>Profile Page</h2>

<p>Joined Hacker News on <%= @user.created_at %></p>

<p>About Me</p>
<p>Email</p>

<p><a href="/user/<%= @user.id %>/posts">All Posts by <%= @user.username %></a></p>
<p><a href="/user/<%= @user.id %>/comments">All Comments by <%= @user.username %></a></p>
